<!DOCTYPE html>
<html>
  <head>
    <title>Add a user profile</title>
  </head>
  <body>
    <form class="add" action="/add" method="post">
      Name: <input type="text" name="name" value="">
      Email: <input type="text" name="email" value="">
      Age: <input type="text" name="age" value="">
      <input type="submit" name="button">Submit new user</input>
    </form>
    <!-- <ul>
      <li>{{name}}</li>
      <li>{{age}}</li>
      <li>{{email}}</li>
    </ul> -->
  </body>
</html>
