<!DOCTYPE html>
<html>
  <head>
    <title>This is showing a user profile</title>
  </head>
  <body>
    <ul>
      <li>{{name}}</li>
      <li>{{age}}</li>
      <li>{{email}}</li>
    </ul>
  </body>
</html>
